*{
	border: 1px solid rgba(0,0,0,0.3);
}

.uppercase {
	text-transform:uppercase
}

.outer {
	width: 960px;
	color: navy;
	background-color: pink;
	border: 2px solid darkblue;
	padding: 5px;
}

.loginbody {
	background-color: Gainsboro;
}

p {
	font-family: verdana;
	font-size: 20px;
}

.form-control {
	display: block;
	text-align: center;
}

#userIdInput {
	display:block;
}

.login{
  display:block;
  width:90%;
  margin:5%; 
}

.logindiv {
  width:300px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height:100px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#footerp{
  font-size: xx-small;
}